body {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    padding: 0 80px;
    color: white;
}

.header ul,
a {
    display: flex;
    margin-left: auto;
    gap: 16px;
    list-style-type: none;
    text-decoration: none;
    color: white;
}